@model string
<div class="centered sccess-page-container">
    <div class="centered">
        <img src="~/images/success.png" width="350" />
    </div>
    <div class="centered sccess-message .fs-larger">@Model</div>
    <div class="centered sccess-date">@DateTime.Now.ToString("dd/MM/yyyy HH:mm")</div>    
</div>