# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
.vs/
 
bin/
obj/
assets/
packages/
*.log
*.zip

# dependencies
KQRegistratrationWeb/.vs/
KQRegistratrationWeb/bin/
KQRegistratrationWeb/obj/
 
KQRegistration/.vs/
KQRegistration/bin/
KQRegistration/obj/
KQRegistration/appsettings.json
KQRegistration/appsettings.production.json
#KQRegistration/appsettings.Development.json
KQRegistration/appsettings.Local.json
KQGeneral/bin/
KQGeneral/obj/
# IDEs and editors
 
.project
 

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
