body {
}

.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 65%;
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    margin-left: auto;
    margin-right: auto;
}

.main-header {
    background-color: #ebf1e8;
    padding: 10px;
}

header img {
    height: 120px;
}
header .second-col{margin-top:20px;}
.loading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
}
.loading-container img{
    width:150px;
    margin-top:-75px;
    margin-left:-75px;
    z-index:5;
}

.vd_hidden:empty {display: none;}
 
.loading-container.hidden {visibility: hidden;}
.loading-overlay.hidden{visibility: hidden;}
.loading-overlay {
    position: absolute;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 65%;
    height: 100%;
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    opacity: 0.3;    
    z-index: 3;
}
header .home-page-link {
    text-decoration: none;
}
label.error{color:black;display:block;}
select.error, textarea.error,input.error{color:red;border:solid red 1px;}
select.valid, textarea.valid,input.valid {border: solid #0080008c 1px;}
.data-label {font-weight: bold;}

.data-label-info {
    margin-right: 5px;
}

.centered {
    text-align: center;
}

.lefted {
    text-align: left;
}

.mt-20 {
    margin-top: 20px;
}

.input-validation-error {
    color: red;
}

.field-validation-error {
    color: red !important;
    bottom: -14px;
    right: 10px;
    position: absolute;
}

.validation-summary-errors.registration {min-height: 35px;margin-bottom: 35px;}

.validation-summary-errors li,
.text-danger {--bs-text-opacity: 1;color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;}
.text-green {color: green;}

#login-form .idn.col-4 {display: block;width: 90%;margin-right: 5%;}

#login-form .birth-date.col-4 {display: block;width: 90%;margin-right: 5%;}
#login-form .error-search-message img{width:100px;margin-top:10px;}
#login-form .error-search-message .error-search-message-btn{text-decoration:none;}
.reg-kid-right {
    text-align: left;
    position: relative;
}

.reg-kid-left {
    text-align: right;
    position: relative;
}

.reg-kid-right img {
    height: 110px;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.reg-kid-left img {
    height: 110px;
    position: absolute;
    bottom: -10px;
    right: 25px;
}

.reg-details {margin-right: 155px;margin-top:20px;}
 
.reg-details-confirm {position: relative;}
.reg-details-confirm img {width: 250px;position: absolute;top: 0;left: 0;}
 
.reg-details-kid div {display: inline-block;}
.reg-details-kid img.kids {height:110px;}
.reg-details-kid .col-10 div {
    width:48%;
    text-align:right;
}
.reg-details-left {
    border-right: 2px solid #282863;
}

   .reject-container {width: 100%;text-align: center;}
   .reject-container .reject-page-instructions{ text-align:right;font-weight:bold;margin-bottom:10px;}
   .reject-container .reject-form-container {width: 100%;text-align: center;background-color: aliceblue;padding: 20px;position:relative;}

   .reject-container .reject-form-container #reject-form {}
   .reject-container .reject-form-container #reject-form .back-btn-div{position:absolute;top:50%;left:10px;}
   .reject-container .reject-form-container #reject-form .back-btn-div .back-btn img{width:100px;}
   .reject-container .reject-form-container #reject-form .form-label {width: 50%;display: inline-block;padding: 10px;font-weight: bold;}

   .reject-container .reject-form-container #reject-form .first-priority,
   .reject-container .reject-form-container #reject-form .second-priority {width: 50%;display: inline-block;padding: 10px;}
   .reject-container .reject-form-container #reject-form .first-priority div,
   .reject-container .reject-form-container #reject-form .second-priority div {height:60px;}
   
   .reject-container .reject-form-container #reject-form .first-priority select option :not(:disabled){font-weight:bold;} 
   /*.reject-container .reject-form-container #reject-form .first-priority select option:disabled{color:red;font-size:0%!important;}*/

  .reject-container .reject-form-container #reject-form .row .reason-label{font-weight:bold;text-align:right;margin-right:10px;}
  .reject-container .reject-form-container #reject-form .row #reason{margin:0px 20px 0px 10px;width:75%}

  .reject-container .student-details{background-color:antiquewhite;}
  .reject-container .student-details .row{padding:15px 15px 15px 0;}    
  .reject-container .student-details .student-data {display: inline-block;width: 33%;text-align: right;}
  .reject-container .student-details .student-data img{width:30px;}
   
  .sccess-page-container {width:100%;text-align:center; font-weight:bold; }
  .sccess-page-container .sccess-message {margin-top:-290px; }
  .sccess-page-container .sccess-date { }
 
.row {
    width: 100%;
}

.col {
    display: inline-block;
}

.form-floating {
    position: relative;
    padding: 10px;
}

    .form-floating > .form-control:focus {
        outline: none !important;
        border-color: #719ECE;
        box-shadow: 0 0 10px #719ECE;
    }

    .form-floating > .form-control {
        padding-right: 10px;
        padding-left: 10px;
        border-radius: 5px;
        height: 34px;
        min-height: 32px;
        margin-top: 30px;
        min-width: 200px;
    }

    .form-floating > label {
        position: absolute;
        top: -10px;
        right: 2px;
        padding: 1rem 0.75rem;
    }

.m-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}

.m-20 {
    margin: 20px;
}

.m-30 {
    margin: 30px;
}

.m-40 {
    margin: 40px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-40 {
    margin-right: 40px;
}

.mr-50 {
    margin-right: 50px;
}

.mr-100 {
    margin-right: 100px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-40 {
    margin-left: 40px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.fs-large {
    font-size: large;
}

.fs-larger {
    font-size: larger;
}

.fs-x-large {
    font-size: x-large;
}

@media only screen and (max-width: 500px) {
    body {background-color: #f1f1f1;}

    .container {--bs-gutter-x: 1.5rem;--bs-gutter-y: 0;width: 100%;padding-left: calc(var(--bs-gutter-x) * 0.5);padding-right: calc(var(--bs-gutter-x) * 0.5);margin-left: auto;margin-right: auto;}

    .main-header {background-color: #ebf1e8;padding: 10px;}
    header h1 {font-size: calc(1rem);}
    header img {height: 50px;}
    header .second-col{margin-top:0px;}
    .loading-overlay {width:100%;}
    .start-page .col-4 {width: 100%;}
    #login-form .error-search-message {color:red; font-weight:bold; }
    #login-form .idn.col-4 {
        display: block;
        width: 100%;
    }

    #login-form .birth-date.col-4 {display: block;width: 100%;}

    .reg-details-kid img.kids {height:75px;}
    .reg-details-kid .col-10 div {width:99%;text-align:right;margin-right:10px;}
    .reg-kid-right {text-align: left;position: relative;}

    .reg-kid-left {text-align: right;position: relative;}
    .reg-kid-right img {height: 110px;position: absolute;top: 0px;left: 0;}
    .reg-kid-left img {height: 110px;position: absolute;bottom: -10px;right: 25px;}
    .reg-details {margin: 10px;}
    
    .reg-details .row {margin: 0;}
    .reg-details .row .col {width: 50%;margin: 0;}

    .reg-details-confirm {position: relative;}
    .reg-details-confirm img {width: 180px;position: absolute;top: 0;left: 20%;}

    .registration-message {margin: 0px 40px 20px 40px;}
       
    .reject-container .reject-form-container #reject-form {}
    .reject-container .reject-form-container #reject-form .form-label {width: 100%;font-weight: bold;text-align:right;}
   .reject-container .reject-form-container #reject-form .first-priority,
   .reject-container .reject-form-container #reject-form .second-priority{width: 100%;display: inline-block;padding: 10px;text-align:right;}
    .reject-container .reject-form-container #reject-form .back-btn-div{position:absolute;top:10px;left:10px;}
    .reject-container .reject-form-container #reject-form .back-btn-div .back-btn img{width:50px;}
    .reject-container .reject-form-container #reject-form .row #reason{margin:0px 20px 0px 10px;width:90%}
}
